.v-layout {
    overflow: unset !important;
    nav {
        &.v-navigation-drawer {
            .v-navigation-drawer__content {
                overflow-y: unset;
                overflow-x: unset;
                .v-list {
                    position: sticky;
                    top: 0;
                }
            }
        }
    }
}